.inputRegBox {
  width: 90%;
}

.inputReg {
  height: 45px;
  padding-left: 10px;
}
.dropL{
  display: none !important;
}

@media screen and (max-width: 500px) {
  .navL{
    display: none;
  }
  .dropL{
    display: block !important;
  }
}